/* @charset "UTF-8"; */

@page {
	size: A4;
/*	margin-left: 2cm;
	margin-top: 1cm;
	margin-right: 1cm;
	margin-bottom: 1cm;*/
}

body {
    font-family: Arial, sans-serif;

}

table {
    width: 100%;
    border: none;
    border-collapse: collapse;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}


th {
    padding: 0.5em;
    border: none;
    border-bottom: 2px solid black;
    text-align: left;
}

td {
    border: none;
    padding: 0.5em;
    text-align: left;
}
